body {
	background-color: 24CD95;
	text-align: center;
	font-color:C30BE2;
	font-family:fantasy;
	margin-right:200px;
	margin-left:200px;
	font-size:23px;
}
title {
	font-family:fantasy;
	text-align: center;
	font-color:C30BE2;
	Font-size:23px;
	
}
#Winna{
	font-size:25px;
}
#Lossa{
	font-size:25px;
}
