body {
	background-color: 24CD95;
	text-align: center;
	font-color:C30BE2;
	font-family:Comic Sans MS;
	margin-right:200px;
	margin-left:200px;
	font-size:19px;
}
title {
	font-family:Comic Sans MS;
	text-align: center;
	font-color:C30BE2;
	ont-size:20px;
	
}
#Winna{

	font-size:23px;
/* 	 padding-right:450px;  */
	 height: 200px;
	 width: 200px;
	text-align:left;
	
	/* padding-left:300px; */
	

}
#codeimg{
	height: 360px;
	width: 400px;
	background-image: url("../assest/codebreaking.png");
	float:center;
}
#Winna2{
/* 	 padding-right:450px;  */
	font-size:25px;
	text-align:left;
	}
#Lossa{

	font-size:23px;
	text-align:left;
/* 	padding-right:450px;  */
	/* padding-left:300px; */
}
#lossa2{
/* 	padding-right: 450px; */
	font-size:25px;
	text-align:left;


}
#american_fleet{
	 background-image: url("../assest/americasfleet.png");
	height: 330px;
	width: 600px;
}
#codebreakingpng{
	height: 100px;
	width: 100px;
}
#japanesefleet{
	height:330px; 
	width: 600px;
	background-image: url("../assest/japansfleet.png");
}

#Midway_Atoll{
	height:330px; 
	width: 600px;
	backgroung-image: url("../assets/Midway_Atoll.jpg");
}
