body {
	background-color: 24CD95;
	text-align: center;
	font-color:C30BE2;
	font-family:fantasy;
	margin-right:200px;
	margin-left:200px;
	font-size:18px;
}
title {
	font-family:fantasy;
	text-align: center;
	font-color:C30BE2;
	ont-size:18px;
	
}
#Winna{

	font-size:25px;
	 padding-right:450px; 
	 height: 200px;
	 width: 200px;
	/* padding-left:300px; */
	

}
#codeimg{
	height: 360px;
	width: 400px;
	background-image: url("../assest/codebreaking.png");
}
#Winna2{
	 padding-right:450px; 
	}
#Lossa{

	font-size:25px;
	padding-right:450px; 
	/* padding-left:300px; */
}
#lossa2{
	padding-right: 450px;


}
#american_fleet{
	 background-image: url("../assest/americasfleet.png");
	height: 330px;
	width: 600px;
}
#codebreakingpng{
	height: 100px;
	width: 100px;
}
#japanesefleet{
	height:330px; 
	width: 600px;
	background-image: url("../assest/japansfleet.png");
}